In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine, inspect

# Import pandas
import pandas as pd

In [2]:
# Load cleaned data to Dataframes
footprint = pd.read_csv("Output/footprint.csv")
freedom = pd.read_csv("Output/freedom.csv")

footprint.head()

,Country,Region,Population_millions,HDI,GDP_per_Capita,Cropland_Footprint,Grazing_Footprint,Forest_Footprint,Carbon_Footprint,Fish_Footprint,...,Grazing_Land,Forest_Land,Fishing_Water,Urban_Land,Total_Biocapacity,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required,Data_Quality,ISO_code
0,Albania,Northern/Eastern Europe,3.16,0.73,4534.37,0.78,0.22,0.25,0.87,0.02,...,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6,ALB
1,Algeria,Africa,38.48,0.73,5430.57,0.60,0.16,0.17,1.14,0.01,...,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5,DZA
2,Angola,Africa,20.82,0.52,4665.91,0.33,0.15,0.12,0.20,0.09,...,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6,AGO
3,Argentina,Latin America,41.09,0.83,13540.00,0.78,0.79,0.29,1.08,0.10,...,1.86,0.66,1.67,0.10,6.92,3.78,1.82,0.45,6,ARG
4,Armenia,Middle East/Central Asia,2.97,0.73,3426.39,0.74,0.18,0.34,0.89,0.01,...,0.26,0.10,0.02,0.07,0.89,-1.35,1.29,2.52,3B,ARM

In [3]:
freedom.head()

,year,ISO_code,Country,region,Overall_Score,Overall_Rank,Overall_Quartile,PF_rol,PF_SS_Homicide,PF_SS_Women,...,EF_Trade_Regulatory,EF_Trade_Black,EF_Trade_Movement,EF_trade,EF_Reg_Credit,EF_Reg_Labor,EF_Reg_Business,EF_Reg,EF_Score,EF_Rank
0,2016,ALB,Albania,Eastern Europe,7.568140,48.0,2.0,5.291752,8.920429,7.500000,...,7.489905,10.00000,6.406138,8.214900,7.098562,6.916278,6.705863,6.906901,7.54,34.0
1,2016,DZA,Algeria,Middle East & North Africa,5.135886,155.0,4.0,3.819566,9.456254,5.833333,...,2.481294,5.56391,1.590362,4.127025,5.100509,5.029513,5.676956,5.268992,4.99,159.0
2,2016,AGO,Angola,Sub-Saharan Africa,5.640662,142.0,4.0,3.451814,8.060260,8.333333,...,2.024949,10.00000,2.044823,5.264754,7.064905,4.560325,4.930271,5.518500,5.17,155.0
3,2016,ARG,Argentina,Latin America & the Caribbean,6.469848,107.0,3.0,5.744791,7.622974,10.000000,...,4.811105,0.00000,4.697482,3.982547,5.419820,5.151405,5.535831,5.369019,4.84,160.0
4,2016,ARM,Armenia,Caucasus & Central Asia,7.241402,57.0,2.0,5.003205,8.808750,8.333333,...,7.194410,10.00000,6.830998,8.143241,9.102046,6.234630,6.797530,7.378069,7.57,29.0

In [4]:
# Configure Database connection 
# Update db_host, db_user and db_password with your postgres host, user and password 

db_host = ""
db_user = ""
db_password = ""
db_name = "freedom_footprint_db"

db_string = "postgres://"+db_user+":"+db_password+"@"+db_host"/"+db_name

engine = create_engine(db_string)
con = engine.connect()

In [5]:
# Create table using Dataframe

footprint.to_sql('footprint', engine, if_exists='replace', index=False)

In [6]:
freedom.to_sql('freedom', engine, if_exists='replace', index=False)

In [7]:
# Add primary key column

con.execute('ALTER TABLE footprint ADD COLUMN footprint_id SERIAL PRIMARY KEY;')

In [8]:
con.execute('ALTER TABLE freedom ADD COLUMN freedom_id SERIAL PRIMARY KEY;')